torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
torchtext==0.15.1
tqdm
wandb
numpy
pandas
adamp
matplotlib
munch
nltk
opencv-python
Cython
pycocotools
scipy
seaborn
sentencepiece
scikit-learn
fire
ninja
flit_core
setuptools
wheel
packaging
transformers
tensorboardX
portalocker